:root {
  /* whitesmoke */
  --main-bg-color: #f5f5f5;
}

body {
  background-color: var(--main-bg-color);
}

.bg-engine-hoisted {
  background-image: url(../assets/photos/2021-05-21.bryan-with-engine-hoisted.jpg);
}
